@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Palette+Mosaic&family=Roboto:wght@300;400&display=swap');

.content {
    align-items: center;
    font-family: "Noto Sans", "Calibri", "Trebuchet MS", sans-serif;
}

.content .title {
    text-align: center;
    font-size: 25px;
}

.content p {
    font-size: 20px;
    text-decoration: none;
}

.content img {
align-items: center;
}

